{% load static i18n %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Effortless Electric{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

    <link rel="icon" href="{% static 'images/logos/BlueCrest.png' %}">
    {% block css %}
    
    <!-- Latest compiled and minified Bootstrap CSS -->    
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap" rel="stylesheet">
    <!-- Your stuff: Third-party CSS libraries go here -->
    <link rel="stylesheet" type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous" />
    <!-- This file stores project-specific CSS -->
    
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
    
    <link href={% block scss %} {% endblock scss %} rel="stylesheet"> 
    <link href={% block child_scss %} {% endblock %} rel="stylesheet"> 
    
    {% endblock %}

  </head>

  <body>

    <div class="mb-1">
      <nav class="base-nav">
        <a class="navbar-brand nav-logo-container" href="{% url 'home' %}">
          <img class="nav-logo" src="{% static 'images/logos/horizantal-blue-logo.png' %}" alt="logo" style="height:100px">
        </a>
        <div class="base-nav__container">          
          {% if request.user.is_authenticated %}
            <a class="base-nav__item nav__item" href="{% url 'users:detail' request.user.id  %}">Analytics</a>
            <a  class="button--blue nav__button base-nav__item" href="{% url 'account_logout' %}">{% trans "Sign Out" %}</a>
          {% else %}
            <a class="base-nav__item nav__item" href="">Services</a>
            <a class="base-nav__item nav__item" href="">Resources</a>
            <a class="base-nav__item nav__item" href="">About Us</a>
            <a id="log-in-link" class="button--blue nav__button base-nav__item" href="{% url 'account_login' %}">{% trans "Log In" %}</a>
          {% endif %}
        </div>
      </nav>

    </div>

    {% block banner %}

    {% endblock banner %}

    <div class="page-content-container">

      {% if messages %}
          {% for message in messages %}
              <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
          {% endfor %}
      {% endif %}

      {% block content %}
      {% endblock content %}

      {% block footer %}
        <div class="footer">
          <div class="footer__column">
            <div class="footer__title">
              Services
            </div>
            <div class="footer__item">Residential</div>
            <div class="footer__item">Commercial</div>
            <div class="footer__item">Process</div>
            <div class="footer__item">Equipment</div>
          </div>
          <div class="footer__column">
            <div class="footer__title">
              Resources
            </div>
            <div class="footer__item">Rebates</div>
            <div class="footer__item">Clean electricity</div>
          </div>
          <div class="footer__column">
            <div class="footer__title">
              Company
            </div>
            <div class="footer__item">Mission</div>
            <div class="footer__item">Careers</div>
            <div class="footer__item">Contact Us</div>
          </div>
          <div class="footer__column">
            <div class="footer__title">
              Effortless Electric
            </div>
          </div>
        </div>
      {% endblock footer %}
    </div> <!-- /container -->

    {% block modal %}{% endblock modal %}

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block javascript %}
      
      <!-- Bootstrap JS and its dependencies-->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      
      <!-- Your stuff: Third-party javascript libraries go here -->
            <!--Chart js-->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>
            <!-- jQuery -->
      <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

      <!-- place project specific Javascript in this file -->
      
      <script src="{% static 'js/project.js' %}"></script>
      <script src="https://kit.fontawesome.com/8459c82f56.js" crossorigin="anonymous"></script>
      

    {% endblock javascript %}
  </body>
</html>
 
