{% extends "home-form.html" %}

{% load i18n %}
{% load crispy_forms_tags %}


{% block form_title %}{% trans "Change Password" %}{% endblock %}

{% block sub_message %}
    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% endif %}
{% endblock sub_message %}

{% block form %}
    {% if not tokenfail %}
        {% if form %}
            <form method="POST" action=".">
                {% csrf_token %}
                {{ form|crispy }}
                {% block actions %}
                                <input class="home-form__button" type="submit" name="action" value="{% trans 'Change Password' %}"/>
                {% endblock actions %}
            </form>
        {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}
{% endblock form %}


