{% extends "base.html" %}
{% load static %}

{% block scss %} {% static 'css/pages/home.css' %} {% endblock scss%}

{% block banner %}
<div class="banner" 
     alt="logo" 
     style="background: url( {% static 'images/icons/image.svg' %}) no-repeat center center fixed;
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: 50% 50%;">
    <div class="home-page__header">Coming soon.</div>
    <div class="home-page__arrows-container"> 
        <div class="home-page__arrows"> </div>
        <div class="home-page__arrows"> </div>
        <div class="home-page__arrows"> </div>
    </div> 

</div> 
{% endblock banner %}
