{% extends "base.html" %}
{% load static %}

{% block scss %} {% static 'css/pages/home.css' %} {% endblock scss%}

{% block banner %}
    <div class="home">
        <div class="home-banner">
            <div class="home-banner__message">
                <div class="home-title">High speed home charging for electric and hybrid vehicles</div>
                <div class="home-body">Charge 10x faster than a standard wall outlet with an installed 240 volt Level 2 system.</div>
                <div class="home-banner__message-button button--blue">Get started now</div>
            </div>
            <div class="home-banner__graphic">
                <img class="home-banner__graphic-image" src="{% static 'images/pictures/home-graphic.png'%}" alt="effortless-graphic">
            </div>
        </div>

        <div class="home-charge">
            <div class="home-title">
                Leading the charge    
            </div>

            <div class="home-body home-charge-body"> Electric vehicle owners, car dealerships, and global energy companies partner with Eﬀortless Electric to bring ease to at-home charging. </div>
            <img class="home-charge__img" src="{% static 'images/pictures/home-graphic-2.png'%}" alt="secondary circle graphic">
        </div>

        <div class="home-simplicity">
            <div class="home-title">Simplicity comes standard.</div>

            <div class="home-body">
                We evaluate your project, manage any necessary  permitting, and schedule the installation so the only thing you need to do is look forward to convenient and reliable charging. 
            </div>
        </div>

        <div class="home-circles">
            <div class="home-circles__container">
                <div class="home-circles__title">Resources</div>
                <div class="home-circles__icon">
                    <div class="home-circles__dot"></div>
                </div>
            </div>
            <div class="home-circles__container">
                <div class="home-circles__title">Plan your project</div>
                <div class="home-circles__icon">
                    <div class="home-circles__dot"></div>
                </div>
            </div> <div class="home-circles__container">
                <div class="home-circles__title">Schedule an install</div>
                <div class="home-circles__icon">
                    <div class="home-circles__dot"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="home-go">
        <div class="home-go__title">Green means go</div>
        <div class="home-go__body">
            Make sure your vehicle is fully charged and ready to go. One less thing to worry about so you, too, can wake up at 100% 
        </div>
        <div class="button--blue">Get started now</div>
    </div>
{% endblock banner %}
