@import '../custom_bootstrap_vars.scss'; 

.dealer-employees {

    &__users {
        display: flex;
        flex-flow: column wrap; 
        justify-content: center;
        align-items: center;
        width: 80%;

        @media screen and (max-width: 1000px) {
            width: 100%; 
        }
    }

    &-user {
        &__container {
            height: 80px; 
            display: flex; 
            flex-flow: row wrap; 
            justify-content: flex-start;
            align-items: center;
            width: 100%; 
            padding: 10px;
            margin: 10px;
            border: 1px solid $ee-light-gray; 
        }

        &__container:hover {
            transform: translate(-1px, -1px);
            // border: 1px solid $ee-dark-gray; 
            box-shadow: 2px 2px 5px $ee-light-gray; 
        }

        &__item {
            flex-grow: 1; 
            max-width: 25%; 
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            align-items: center;

            &--name {
                @extend .dealer-employees-user__item;
                max-width: 35%; 
            }
        }
        &__link {
            flex-grow: 1; 
        }
    }
}