@import '../custom_bootstrap_vars.scss';

.dealer-analytics{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: 100%;

    &__jobs{
        width: 45%;
        height: 220px;
        display: flex;
        justify-content: center;
        border: 1px solid $ee-light-gray;
        margin-left: 20px;
        margin-right: 20px;
        text-align: center;

        &__statistics{
            position: absolute;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif t;
            font-style: normal; 
            display: flex;
            justify-content: center;
            align-items: center;
            width: 108px;
            height: 179px;
            margin-top: 10;
            margin-bottom: 40px;
            font-size: 82px;
        }
        &__statistics-text{
            display: flex;
            justify-content: center;
            width: 100%;
            height: 29px;
            margin: 157px 105px 34px;
            font-size: 24px;
        }
    
    }
    &__jobs:hover{
        box-shadow: 1px 1px 10px $ee-light-gray;
        cursor: pointer;
    }
    
    &__row {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin-bottom: 40px;
        width: 100%;
    }
    &__graphics {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto 20px;
        height: 413px;
        border: 1px solid $ee-light-gray;
        font-size: 60px;
    }
    &__graphics:hover{
        box-shadow: 1px 1px 10px $ee-light-gray;
        cursor: pointer;
    }
    

}