{% extends "users/dealer_user.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block child_scss %} {% static 'css/dealers/dealer_jobs.css' %} {% endblock child_scss %}

{% block page_header %}{{ user.username }}{% endblock %}

{% block page_content %}
  <div class="dealer-jobs">
    {{jobs.size}}

    {% for job in jobs %}
      <div class="content-container" onclick="window.location='{% url 'jobs:detail' pk=job.id%}'">
          <div class="dealer-jobs__col--vehicle">
            <div class="dealer-jobs__title">Vehicle</div>
            {{job.car_make}} {{job.car_model}}
          </div>
          <div class="dealer-jobs__col">
            <div class="dealer-jobs__title">Customer</div>
            {{job.customer.get_full_name}}
          </div>
          {% if request.user.staff %}
          <div class="dealer-jobs__col">
            <div class="dealer-jobs__title">Customer Contacted</div>
            {{job.customer_contacted}} 
          </div>
          {% endif %}
          <div class="content-container__view">
            <a href="{% url 'jobs:detail' pk=job.id%}">View <img src="{% static 'images/favicons/right-caret.svg' %}" alt=""></a>
          </div>
      </div>
    {% endfor %}
  </div>
{% endblock page_content %}
