{% extends "users/dealer_user.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block child_scss %} {% static 'css/dealers/dealer_analytics.css' %} {% endblock child_scss %}

{% block page_header %}{{ user.username }}{% endblock %}

{% block page_content %}
  <div class="dealer-analytics">
    <div class="dealer-analytics__row">
            <div class="dealer-analytics__jobs" onclick="window.location='{% url "dealers:employee-detail" pk=user.id %}'">
                <div class="dealer-analytics__jobs__statistics">
                    {{job_count}}
                </div>
                <div class="dealer-analytics__jobs__statistics-text">Jobs this month</div>
            </div>
        <div class="dealer-analytics__jobs">
            <div class="dealer-analytics__jobs__statistics">13</div>
            <div class="dealer-analytics__jobs__statistics-text">Completed jobs</div>
        </div>
    </div>
    <div class="dealer-analytics__row">
        <div class="dealer-analytics__jobs">
            <div class="dealer-analytics__jobs__statistics">1</div>
            <div class="dealer-analytics__jobs__statistics-text">Jobs in-progress</div>
        </div>
        <div class="dealer-analytics__jobs">
            <div class="dealer-analytics__jobs__statistics">4</div>
            <div class="dealer-analytics__jobs__statistics-text">Jobs pending</div>
        </div>
    </div>
    <div class="dealer-analytics__row">
        <div class="dealer-analytics__graphics">
            <div class="dealer-analytics__graphics__chart">
                    <canvas id="myChart">
                    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
                    <script src="{% static "js/line-chart.js" %}"></script>  
                    </canvas>
            </div>
        </div>
    </div>
  </div>

{% endblock page_content %}