{% extends "users/dealer_user.html" %}
{% load static %}

{% block title %}Effortless Electric{% endblock %}
{% block child_scss %} {% static "css/dealers/dealer_employees.css" %} {% endblock child_scss %}

{% block page_content %}
    
    <div>{{user.name}}</div>

    {% if request.user.dealership.admin == request.user %}
        <div> {% if user.verified %} Verified {% else %} Unverified {% endif %} </div>
        <div> {{ user.dealership.name }} </div>
        <a href="{% url 'users:remove' user_id=user.pk %}"><button class="btn btn-danger"> Remove User </button></a>
        <a href="{% url 'users:verify' user_id=user.pk%}"><button> Verify </button></a>

        <div>Jobs</div>
        {% for job in jobs %}
            {{job}}
        {% endfor %}
    {% else %}
        <div>Sorry only admins can add sales</div>
    {% endif %}
{% endblock page_content %}

